@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --primario: #222222;
    --secundario: #FFFFFF;
    --fondo: #E51A73;
    --textoTarjetas: #C00A27;
    --textoFooter: #515486;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav{
    display: none;
}
.logo{
    background-color: var(--fondo);
    color: var(--secundario);
    border-radius: 20px;
    width: 135px;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 18px 51px;
    margin: 17px 130px 21px 17px;
}
.iconos{
    display: flex;
    gap: 17px;
    margin-right: 20px;
}
.fondo{    
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 42px;
    background-size: cover;
    color: var(--secundario);
    display: flex;
    align-items: center;
    height: 188px;
}
.fondo2{
    display: none;
}
.titulo1{
    position: absolute;
    top: 36px;
    right: 51px;
    font-size: 0.9375rem;
    font-weight: 400;
    color: var(--primario);
}
.titulo2{
    position: absolute;
    top: 64px;
    width: 254px;
    right: 0;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--primario);
}
.titulo3{
    position: absolute;
    top: 100px;
    width: 200px;
    height: 25px;
    right: 25px;
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--fondo);
    color: var(--secundario);
    text-align: center;
}
.boton-comprar{
    width: 90px;
    height: 20px;
    position: absolute;
    bottom: 36px;
    right: 82px;
    font-size: 0.625px;
    font-weight: 400;
    text-align: center;
    border: 1px solid black;
    padding: 1px;
    color:var(--primario);
}
.boton-comprar a:hover, a:link, a:active, a:visi{
    text-decoration: none;
    color: var(--primario);
}
.contenedorTarjetas{ 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
}
.tarjeta{
    display: flex;
    justify-content: center;
    margin-bottom: 39px;
    position: relative;
}
.textoTarjeta1, .textoTarjeta2, .textoTarjeta3{
    position: absolute;
    right: 7px;
}
.textoTarjeta1{
    top: 47px;
    color: var(--textoTarjetas);
    font-size: 1rem;
    font-weight: 400;
}
.textoTarjeta2{
    top: 76px;
    font-size: 1.5rem;
    font-weight: 600;
}
.textoTarjeta3{
    top: 134px;
}
.textoTarjeta3 a:before, a:link, a:visited{
    color: var(--textoTarjetas);
    text-decoration: underline;
}
.destacados{
    font-size: 1.875rem;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
}
.comprados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 27.5px;
}
.comprados h3{
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
}
.comprados h2{
    font-size: 1rem;
    padding: 12px 15px;
    background-color: #FFEB28;
    width: 150px;
    margin: 27px 0px 41px 0px;
}
.separador{
    display: none;
}
.contenedorRameras{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    text-align: center;
}
.ramera{
    margin-bottom: 44px;
    position: relative;
}
.ramera img{
    border: 1px solid rgba(34, 34, 34, 0.12);
    border-radius: 5px;
    margin-bottom: 9px;
}
.textoRameras{
    top:15px;
    right:15px;
    width: 43px;
    height: 14px;
    text-align:center;
    padding-top: 2.5px;
    position: absolute;
    font-size: 0.4375rem;
    font-weight: 500;
    color: var(--secundario);
    background-color: #C92C2C;
    border-radius: 5px;
}
.contenedorRameras h4, h5{
    font-size: 1rem;
    font-weight: 600;
}
.contenedorRameras h4{
    margin-bottom: 10px;
    color: var(--primario);
}
.contenedorRameras h5{
    color: var(--fondo);
}
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #F3F3F3;
}
.contenedorTexto{
    width: 100%;
    margin-top: 28px;
}

.contenedorTexto h2{
    font-size: 1.5625rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0px 0px 31px 0px;
}
.contenedorTexto h3{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 31px;
    margin-left: 59px;
}
.contenedorTexto h3 img{
    padding-right: 12px;
}
.rectangulo{
    display: none;
}
.formulario{
    display: flex;
    background-color: var(--secundario);
    width: 82%;
    height: 57%;
    margin-left: 9%;
    margin-bottom: 29px;
}
.formulario form p{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--textoFooter);
    margin: 17px 156px 35px 45px;
}
#nombre, #email, #mensaje{
    background-color: #F6F7F9;
    color: var(--textoFooter);
    border-radius: 12px;
    width: 255px;
    margin: 0px 41px 15px 41px;
}

#nombre, #email{
    height: 45px;
    padding-left: 10px;
}
#mensaje{
    height: 99px;
    padding: 15px 160px 69px 10px;
}
.botones{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 17px;
}
.reset_register, .enter_register{
    width: 110px;
    height: 40px;
    border-radius: 12px;
    font-size: 0.8125rem;
    font-weight: 700;
    color: var(--secundario);
}
.reset_register{
    background-color: var(--primario);
}
.enter_register{
    background-color: var(--fondo);
}
.creditos{
    display: none;
}

@media (min-width: 768px){
    header nav{
        display: flex;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
        gap: 9px;
    }
    header nav ul a:link, a:visited{
        text-decoration: none;
        color: var(--primario);
    }
    #kangrebur{
        display: none;
    }
    .fondo{
        height: 600px;
    }
    .titulo1{
        top: 201px;
        right: 201px;
        font-size: 1.25rem;
    }
    .titulo2{
        top: 244px;
        right: 102px;
        font-size: 1.875rem;
        width: 420px;
        height: 35px;
        line-height: 35.19px;
        text-align: center;
    }
    .titulo3{
        top: 299px;
        right: 152px;
        font-size: 1.25rem;
        width: 300px;
        height: 40px;
        padding: 5px;
    }
    .boton-comprar{
        bottom: 201px;
        right: 227px;
        font-size: 1.25rem;
        width: 150px;
        height: 40px;
        padding: 5px;
    }
    .comprados h3{
        width: 10%;
        padding-top: 25px;
    }
    .separador{
        display: block;
        padding-bottom: 15px;
    }
    .fondo2{
        background-image: url("../img/foto.png");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin-bottom: 60px;
        background-size: cover;
        color: var(--secundario);
        display: flex;
        align-items: center;
        height: 680px;
    }
    .fondo2 .titulo1{
        top: 242px;
        left: 239px;
        position: absolute;
    }
    .fondo2 .titulo2{
        top: 285px;
        left: 151px;
        position: absolute;
    }
    .fondo2 .titulo3{
        top: 340px;
        left: 191px;
        position: absolute;
    }
    .fondo2 .boton-comprar{
        top: 400px;
        left: 266px;
        position: absolute;
    }
    .contenedorTexto{
        width: 30%;
        margin-top: 112px;
    }
    .formulario{
        width: 768px;
        height: 371px;
        margin-top: 24px;
    }
    .rectangulo{
        display: flex;
        width: 431px;
        height: 371px;
        background-color: #FE8EBD;
        justify-content: center;
        position: relative;
    }
    .rectangulo p{
        display: flex;
        align-items: center;
        color: var(--textoFooter);
        font-size: 1.5rem;
        font-weight: 700;
    }
    .cuadro{
        width: 60px;
        height: 5px;
        background-color: var(--secundario);
        position: absolute;
        margin-top: 199px;
        margin-right: 275px;
    }
    .creditos{
        display: block;
        width: 100%;
        background-color: var(--secundario);
        text-align: center;
    }
    .git:hover, .linkedin:hover{
        color:var(--fondo);
    }
}