@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primario: #222222;
  --colorSecundario: #d01418;
  --colorTercero: #f3f3f3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: var(--primario);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 35px;
}

header div {
  display: flex;
  align-items: center;
}

header div h1 {
  margin-left: 20px;
  color: var(--colorTercero);
}

header div h1 span {
  color: var(--colorSecundario);
}

.kangrebur {
  display: none;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li a {
  padding: 0px 4px;
  color: var(--colorTercero);
  text-decoration: none;
}

.carrito {
  color: var(--colorSecundario);
  font-size: 24px;
}

.hero {
  height: 512px;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero div h3 {
  color: var(--colorTercero);
  font-size: 40px;
}

.hero div h3 span {
  color: var(--colorSecundario);
}

.hero div a {
  background-color: var(--colorSecundario);
  border-radius: 5px;
  color: var(--colorTercero);
  text-decoration: none;
  padding: 16px 61px;
  margin-top: 30px;
}

section {
  background-color: var(--colorTercero);
  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2 {
  font-size: 30px;
  font-weight: 400;
  padding-top: 40px;
}

section h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}

section h5 {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 3px;
}

section h6 {
  font-size: 10px;
  font-weight: 400;
  color: #619D00;
}

.container__card, .container__banner {
  display: flex;
  justify-content: space-between;
  width: 60vw;
}

.card-img {
  display: flex;
  justify-content: center;
  padding: 25px 50px;
  border-bottom: solid 0.2px #8f8f8f;
}

.card-text {
  padding: 21px;
}

.card {
  background-color: white;
  margin: 20px 0;
  border-radius: 5px;
}

.card-top {
  display: flex;
  justify-content: center;
  padding: 25px 50px;
  border-bottom: solid 0.2px #8f8f8f;
}

.card-bottom {
  padding: 21px;
}

.banner__sillas, .banner__computadoras {
  width: 45%;
  margin: 20px 0 85px;
  height: 135px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.banner__sillas a, .banner__computadoras a{
  color: var(--colorTercero);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  margin: 18px;
}
.banner__sillas {
  background-image: url("../img/banner2.svg");   
}

.banner__computadoras {
  background-image: url("../img/banner.svg");   
}

footer {
  background-color: var(--primario);
  color: var(--colorTercero);
  display: flex;
  flex-direction: column;
}

footer .footer__top {
  font-size: 25px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer__top div{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer__top div h4{
  font-weight: 700;
  margin: 20px;
}

footer .footer__top div h4 span{
  color: var(--colorSecundario);
}

footer .footer__top .der{
  font-weight: 400;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

footer .footer__top .der div{
  display: flex;
  justify-content: space-between;
}

footer .footer__top .der ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 42px;
}

footer .footer__bottom {
  background-color:  #C4C4C4;
  color: #000;
  padding: 7px;
  text-align: center;
}



@media (max-width: 480px) {
  nav {
    display: none;
  }
  .kangrebur {
    display: block;
    color: var(--colorTercero);
    font-size: 27px;
  }
}
